#add-btn{
    background-color: aqua;
    color: black;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    font-size: 40px;
}
#save-btn{
    background-color: aqua;
    color: black;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    font-size: 40px;
}